body{
    background-color: grey;
}
header{
    color: #fff;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 20px;
    max-width: 750px;
    min-width: 360px;
    margin: auto;
    padding: 10px;
    border: 5px solid black;
}
#hor{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
#mes{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#data{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
#dia{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}